<footer>
    {% set data = 'test' %}
    <div id="footer-2" class="footer-area">
        <div class="footer-top-area">
            <div class="container">
                <div class="row gutters-60">
                    <div class="col-lg-4 col-sm-4 col-12"><div id="rt-about-social-4" class="widget rt_footer_social_widget"><h3>About Company</h3>		<div class="rt-about-widget">
                                <div class="footer-about">Aliquam erat volutpat. Curabitur vene natiareset massa secus tristique aewnon auctor nislerty sodales iquam erat volutpat.</div>
                                <ul class="footer-social">
                                    <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>			</ul>
                            </div>

                        </div></div><div class="col-lg-4 col-sm-4 col-12"><div id="nav_menu-3" class="widget widget_nav_menu"><h3 class="widgettitle ">Useful Link</h3><div class="menu-top-bar-container"><ul id="menu-top-bar" class="menu"><li id="menu-item-1097" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1097"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/blog/">Blog</a></li>
                                    <li id="menu-item-1098" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1098"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/about/">About</a></li>
                                    <li id="menu-item-1537" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1537"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/shop/">Shop</a></li>
                                    <li id="menu-item-1538" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1538"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/submit-recipe/">Submit Recipe</a></li>
                                    <li id="menu-item-1096" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1096"><a href="https://radiustheme.com/demo/wordpress/themes/ranna/contact/">Contact</a></li>
                                </ul></div></div></div><div class="col-lg-4 col-sm-4 col-12"><div id="mc4wp_form_widget-4" class="widget widget_mc4wp_form_widget"><h3 class="widgettitle ">Newsletter</h3><script>(function() {
                                    window.mc4wp = window.mc4wp || {
                                        listeners: [],
                                        forms: {
                                            on: function(evt, cb) {
                                                window.mc4wp.listeners.push(
                                                    {
                                                        event   : evt,
                                                        callback: cb
                                                    }
                                                );
                                            }
                                        }
                                    }
                                })();
                            </script><!-- Mailchimp for WordPress v4.7.5 - https://wordpress.org/plugins/mailchimp-for-wp/ --><form id="mc4wp-form-2" class="mc4wp-form mc4wp-form-125" method="post" data-id="125" data-name="GET LATEST UPDATES" ><div class="mc4wp-form-fields"><div class="widget-newsletter-subscribe">
                                        <h3>Get Lastest Updates</h3>
                                        <p>Newsletter Subscribe</p>
                                        <div class="form-group">
                                            <input type="email" placeholder="your e-mail address" class="form-control" name="email"
                                                   data-error="E-mail field is required" required>
                                        </div>
                                        <div class="form-group mb-none">
                                            <button type="submit" class="item-btn">SUBSCRIBE</button>
                                        </div>
                                    </div>
                                </div><label style="display: none !important;">Leave this field empty if you're human: <input type="text" name="_mc4wp_honeypot" value="" tabindex="-1" autocomplete="off" /></label><input type="hidden" name="_mc4wp_timestamp" value="1589648256" /><input type="hidden" name="_mc4wp_form_id" value="125" /><input type="hidden" name="_mc4wp_form_element_id" value="mc4wp-form-2" /><div class="mc4wp-response"></div></form><!-- / Mailchimp for WordPress Plugin --></div></div>				</div>
            </div>
        </div>
        <div class="footer-bottom-area">
            <div class="container">
                <div class="row">
                    <div class="copyright">&copy; 2020 Ranna. All Rights Reserved.</div>
                </div>
            </div>
        </div>
    </div>
</footer>
</div>
<a href="#" class="scrollToTop"><i class="fa fa-arrow-up"></i></a><script>(function() {function maybePrefixUrlField() {
        if (this.value.trim() !== '' && this.value.indexOf('http') !== 0) {
            this.value = "http://" + this.value;
        }
    }

        var urlFields = document.querySelectorAll('.mc4wp-form input[type="url"]');
        if (urlFields) {
            for (var j=0; j < urlFields.length; j++) {
                urlFields[j].addEventListener('blur', maybePrefixUrlField);
            }
        }
    })();</script><!-- Instagram Feed JS -->
<script type="text/javascript">
    var sbiajaxurl = "https://radiustheme.com/demo/wordpress/themes/ranna/wp-admin/admin-ajax.php";
</script>
<script type="text/html" id="tmpl-rtwpvg-slider-template">
    <# if(data.rtwpvg_video_link) { #>
    <div class="rtwpvg-gallery-image rtwpvg-gallery-video">
        <# if(data.rtwpvg_video_embed_type == 'video'){ #>
        <video preload="auto" controls="" controlslist="nodownload" poster="" src="{{'test'}}"
               style="width: 100%; height: 400px; margin: 0;padding: 0; background-color: #000"></video>
        <# } else if(data.rtwpvg_video_embed_type == 'iframe'){ #>
        <iframe class="rtwpvg-lightbox-iframe" src=".rt{{'test'}}"
                style="width: 100%; height: 400px; margin: 0;padding: 0; background-color: #000" frameborder="0"
                webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        <# } #>
    </div>
    <# }else{ #>
    <div class="rtwpvg-gallery-image">
        <div>
            <img width="{{'test'}}" height="{{'test'}}" src="{{'test'}}" alt="{{'test'}}"
                 title="{{'test'}}" data-caption="{{'test'}}" data-src="{{'test'}}"
                 data-large_image="{{'test'}}" data-large_image_width="{{'test'}}"
                 data-large_image_height="{{'test'}}"
            <# if(data.srcset) { #>
            srcset="{{'test'}}"
            <# } #>
            sizes="{{'test'}}"/>
        </div>
    </div>
    <# } #>
</script><script type="text/html" id="tmpl-rtwpvg-thumbnail-template">
    <div class="rtwpvg-thumbnail-image<# if(data.rtwpvg_video_link) { #> rtwpvg-thumbnail-video<# } #>">
        <div>
            <img width="{{'test'}}" height="{{'test'}}"
                 src="{{'test'}}" alt="{{'test'}}" title="{{'test'}}"
                 data-caption="{{'test'}}" data-src="{{'test'}}"/>
        </div>
    </div>
</script>
<div id="yith-quick-view-modal">

    <div class="yith-quick-view-overlay"></div>

    <div class="yith-wcqv-wrapper">

        <div class="yith-wcqv-main">

            <div class="yith-wcqv-head">
                <a href="#" id="yith-quick-view-close" class="yith-wcqv-close">X</a>
            </div>

            <div id="yith-quick-view-content" class="woocommerce single-product"></div>

        </div>

    </div>

</div>	<script type="text/javascript">
    var c = document.body.className;
    c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
    document.body.className = c;
</script>

<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close" aria-label="Close (Esc)"></button>
                <button class="pswp__button pswp__button--share" aria-label="Share"></button>
                <button class="pswp__button pswp__button--fs" aria-label="Toggle fullscreen"></button>
                <button class="pswp__button pswp__button--zoom" aria-label="Zoom in/out"></button>
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>
            <button class="pswp__button pswp__button--arrow--left" aria-label="Previous (arrow left)"></button>
            <button class="pswp__button pswp__button--arrow--right" aria-label="Next (arrow right)"></button>
            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/template" id="tmpl-variation-template">
    {% if data %}

        <div class="woocommerce-variation-description">{{ 'test' }}</div>
        <div class="woocommerce-variation-price">{{ 'test' }}</div>
        <div class="woocommerce-variation-availability">{{ 'test' }}</div>

    {% endif %}

</script>
<script type="text/template" id="tmpl-unavailable-variation-template">
    <p>Sorry, this product is unavailable. Please choose a different combination.</p>
</script>
<link rel='stylesheet' id='photoswipe-css'  href='https://radiustheme.com/demo/wordpress/themes/ranna/wp-content/plugins/woocommerce/assets/css/photoswipe/photoswipe.min.css?ver=3.9.2' type='text/css' media='all' />
<link rel='stylesheet' id='photoswipe-default-skin-css'  href='https://radiustheme.com/demo/wordpress/themes/ranna/wp-content/plugins/woocommerce/assets/css/photoswipe/default-skin/default-skin.min.css?ver=3.9.2' type='text/css' media='all' />
<script type='text/javascript' src='https://radiustheme.com/demo/wordpress/themes/ranna/wp-content/plugins/yith-woocommerce-wishlist/assets/js/jquery.selectBox.min.js?ver=1.2.0'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var yith_wcwl_l10n = {"ajax_url":"\/demo\/wordpress\/themes\/ranna\/wp-admin\/admin-ajax.php","redirect_to_cart":"no","multi_wishlist":"","hide_add_button":"1","enable_ajax_loading":"","ajax_loader_url":"https:\/\/radiustheme.com\/demo\/wordpress\/themes\/ranna\/wp-content\/plugins\/yith-woocommerce-wishlist\/assets\/images\/ajax-loader-alt.svg","remove_from_wishlist_after_add_to_cart":"1","labels":{"cookie_disabled":"We are sorry, but this feature is available only if cookies on your browser are enabled.","added_to_cart_message":"<div class=\"woocommerce-notices-wrapper\"><div class=\"woocommerce-message\" role=\"alert\">Product added to cart successfully<\/div><\/div>"},"actions":{"add_to_wishlist_action":"add_to_wishlist","remove_from_wishlist_action":"remove_from_wishlist","reload_wishlist_and_adding_elem_action":"reload_wishlist_and_adding_elem","load_mobile_action":"load_mobile","delete_item_action":"delete_item","load_fragments":"load_fragments"}};
    /* ]]> */
</script>
<script type='text/javascript' src='https://radiustheme.com/demo/wordpress/themes/ranna/wp-content/plugins/yith-woocommerce-wishlist/assets/js/jquery.yith-wcwl.js?ver=3.0.6'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var wpcf7 = {"apiSettings":{"root":"https:\/\/radiustheme.com\/demo\/wordpress\/themes\/ranna\/wp-json\/contact-form-7\/v1","namespace":"contact-form-7\/v1"}};
    /* ]]> */
</script>
<script type='text/javascript' src='https://radiustheme.com/demo/wordpress/themes/ranna/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=5.1.6'></script>
<script type='text/javascript' src='https://radiustheme.com/demo/wordpress/themes/ranna/wp-includes/js/jquery/ui/core.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='https://radiustheme.com/demo/wordpress/themes/ranna/wp-includes/js/jquery/ui/widget.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='https://radiustheme.com/demo/wordpress/themes/ranna/wp-includes/js/jquery/ui/mouse.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='https://radiustheme.com/demo/wordpress/themes/ranna/wp-includes/js/jquery/ui/sortable.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='https://radiustheme.com/demo/wordpress/themes/ranna/wp-content/plugins/ranna-core/assets/js/core-js.js?ver=1'></script>
<script type='text/javascript' src='https://radiustheme.com/demo/wordpress/themes/ranna/wp-content/plugins/ranna-core/assets/js/snap.svg-min.js?ver=1'></script>
<script type='text/javascript' src='https://radiustheme.com/demo/wordpress/themes/ranna/wp-content/plugins/ranna-core/assets/js/hovers.js?ver=1'></script>
<script type='text/javascript' src='https://radiustheme.com/demo/wordpress/themes/ranna/wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min.js?ver=2.70'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var wc_add_to_cart_params = {"ajax_url":"\/demo\/wordpress\/themes\/ranna\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/demo\/wordpress\/themes\/ranna\/?wc-ajax=%%endpoint%%","i18n_view_cart":"View cart","cart_url":"https:\/\/radiustheme.com\/demo\/wordpress\/themes\/ranna\/cart\/","is_cart":"","cart_redirect_after_add":"no"};
    /* ]]> */
</script>
<script type='text/javascript' src='https://radiustheme.com/demo/wordpress/themes/ranna/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.min.js?ver=3.9.2'></script>
<script type='text/javascript' src='https://radiustheme.com/demo/wordpress/themes/ranna/wp-content/plugins/woocommerce/assets/js/js-cookie/js.cookie.min.js?ver=2.1.4'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var woocommerce_params = {"ajax_url":"\/demo\/wordpress\/themes\/ranna\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/demo\/wordpress\/themes\/ranna\/?wc-ajax=%%endpoint%%"};
    /* ]]> */
</script>
<script type='text/javascript' src='https://radiustheme.com/demo/wordpress/themes/ranna/wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min.js?ver=3.9.2'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var wc_cart_fragments_params = {"ajax_url":"\/demo\/wordpress\/themes\/ranna\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/demo\/wordpress\/themes\/ranna\/?wc-ajax=%%endpoint%%","cart_hash_key":"wc_cart_hash_36660d18792bb7614c33c30b5a768ca6","fragment_name":"wc_fragments_36660d18792bb7614c33c30b5a768ca6","request_timeout":"5000"};
    /* ]]> */
</script>
<script type='text/javascript' src='https://radiustheme.com/demo/wordpress/themes/ranna/wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.min.js?ver=3.9.2'></script>
<script type='text/javascript' src='https://radiustheme.com/demo/wordpress/themes/ranna/wp-content/plugins/woo-product-variation-gallery-pro/assets/js/slick.min.js?ver=1.8.1'></script>
<script type='text/javascript' src='https://radiustheme.com/demo/wordpress/themes/ranna/wp-includes/js/underscore.min.js?ver=1.8.3'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var _wpUtilSettings = {"ajax":{"url":"\/demo\/wordpress\/themes\/ranna\/wp-admin\/admin-ajax.php"}};
    /* ]]> */
</script>
<script type='text/javascript' src='https://radiustheme.com/demo/wordpress/themes/ranna/wp-includes/js/wp-util.min.js?ver=5.3.2'></script>
<script type='text/javascript' src='https://radiustheme.com/demo/wordpress/themes/ranna/wp-includes/js/imagesloaded.min.js?ver=3.2.0'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var rtwpvg = {"reset_on_variation_change":"1","enable_zoom":"1","enable_lightbox":"1","enable_thumbnail_slide":"","thumbnails_columns":"4","is_vertical":"1","thumbnail_position":"left","is_mobile":"","gallery_width":"54","gallery_md_width":"0","gallery_sm_width":"720","gallery_xsm_width":"460"};
    /* ]]> */
</script>
<script type='text/javascript' src='https://radiustheme.com/demo/wordpress/themes/ranna/wp-content/plugins/woo-product-variation-gallery-pro/assets/js/rtwpvg.min.js?ver=1589648255'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var yith_qv = {"ajaxurl":"\/demo\/wordpress\/themes\/ranna\/wp-admin\/admin-ajax.php","loader":"https:\/\/radiustheme.com\/demo\/wordpress\/themes\/ranna\/wp-content\/plugins\/yith-woocommerce-quick-view\/assets\/image\/qv-loader.gif","is2_2":"","lang":""};
    /* ]]> */
</script>
<script type='text/javascript' src='https://radiustheme.com/demo/wordpress/themes/ranna/wp-content/plugins/yith-woocommerce-quick-view/assets/js/frontend.min.js?ver=1.3.18'></script>
<script type='text/javascript' src='//radiustheme.com/demo/wordpress/themes/ranna/wp-content/plugins/woocommerce/assets/js/prettyPhoto/jquery.prettyPhoto.min.js?ver=3.1.6'></script>
<script type='text/javascript' src='https://radiustheme.com/demo/wordpress/themes/ranna/wp-content/themes/ranna/assets/js/isotope.pkgd.min.js?ver=1589648255'></script>
<script type='text/javascript' src='https://radiustheme.com/demo/wordpress/themes/ranna/wp-content/themes/ranna/assets/js/popper.js?ver=1589648255'></script>
<script type='text/javascript' src='https://radiustheme.com/demo/wordpress/themes/ranna/wp-content/themes/ranna/assets/js/bootstrap.min.js?ver=1589648255'></script>
<script type='text/javascript' src='https://radiustheme.com/demo/wordpress/themes/ranna/wp-content/plugins/woocommerce/assets/js/select2/select2.full.min.js?ver=4.0.3'></script>
<script type='text/javascript' src='https://radiustheme.com/demo/wordpress/themes/ranna/wp-content/themes/ranna/assets/js/jquery.meanmenu.min.js?ver=1589648255'></script>
<script type='text/javascript' src='https://radiustheme.com/demo/wordpress/themes/ranna/wp-content/themes/ranna/assets/js/jquery.nav.min.js?ver=1589648255'></script>
<script type='text/javascript' src='https://radiustheme.com/demo/wordpress/themes/ranna/wp-content/themes/ranna/assets/js/jquery.countdown.min.js?ver=1589648255'></script>
<script type='text/javascript' src='https://radiustheme.com/demo/wordpress/themes/ranna/wp-content/themes/ranna/assets/js/js.cookie.min.js?ver=1589648255'></script>
<script type='text/javascript' src='https://radiustheme.com/demo/wordpress/themes/ranna/wp-content/themes/ranna/assets/js/jquery.nivo.slider.min.js?ver=1589648255'></script>
<script type='text/javascript' src='https://radiustheme.com/demo/wordpress/themes/ranna/wp-content/themes/ranna/assets/js/rt-canvas-menu.js?ver=1589648255'></script>
<script type='text/javascript' src='https://radiustheme.com/demo/wordpress/themes/ranna/wp-content/themes/ranna/assets/js/theia-sticky-sidebar.min.js?ver=1589648255'></script>
<script type='text/javascript' src='https://radiustheme.com/demo/wordpress/themes/ranna/wp-content/themes/ranna/assets/js/swiper.min.js?ver=1589648255'></script>
<script type='text/javascript' src='https://radiustheme.com/demo/wordpress/themes/ranna/wp-content/themes/ranna/assets/js/owl.carousel.min.js?ver=1589648255'></script>
<script type='text/javascript' src='https://radiustheme.com/demo/wordpress/themes/ranna/wp-includes/js/masonry.min.js?ver=3.3.2'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var ThemeObj = {"stickyMenu":"1","meanWidth":"992","siteLogo":"<a href=\"https:\/\/radiustheme.com\/demo\/wordpress\/themes\/ranna\/\" alt=\"Ranna\"><img class=\"logo-small\" src=\"https:\/\/radiustheme.com\/demo\/wordpress\/themes\/ranna\/wp-content\/themes\/ranna\/assets\/img\/logo.png\" \/><\/a>","day":"Day","hour":"Hour","minute":"Minute","second":"Second","extraOffset":"70","extraOffsetMobile":"52","ajaxURL":"https:\/\/radiustheme.com\/demo\/wordpress\/themes\/ranna\/wp-admin\/admin-ajax.php","nonce":"cf7c8c1950"};
    /* ]]> */
</script>
<script type='text/javascript' src='https://radiustheme.com/demo/wordpress/themes/ranna/wp-content/themes/ranna/assets/js/main.js?ver=1589648255'></script>
<script type='text/javascript' src='https://radiustheme.com/demo/wordpress/themes/ranna/wp-includes/js/wp-embed.min.js?ver=5.3.2'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var sb_instagram_js_options = {"font_method":"svg","resized_url":"https:\/\/radiustheme.com\/demo\/wordpress\/themes\/ranna\/wp-content\/uploads\/sb-instagram-feed-images\/","placeholder":"https:\/\/radiustheme.com\/demo\/wordpress\/themes\/ranna\/wp-content\/plugins\/instagram-feed\/img\/placeholder.png"};
    /* ]]> */
</script>
<script type='text/javascript' src='https://radiustheme.com/demo/wordpress/themes/ranna/wp-content/plugins/instagram-feed/js/sb-instagram-2-2.min.js?ver=2.2.1'></script>
<script type='text/javascript' src='https://radiustheme.com/demo/wordpress/themes/ranna/wp-content/plugins/mailchimp-for-wp/assets/js/forms.min.js?ver=4.7.5'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var wc_add_to_cart_variation_params = {"wc_ajax_url":"\/demo\/wordpress\/themes\/ranna\/?wc-ajax=%%endpoint%%","i18n_no_matching_variations_text":"Sorry, no products matched your selection. Please choose a different combination.","i18n_make_a_selection_text":"Please select some product options before adding this product to your cart.","i18n_unavailable_text":"Sorry, this product is unavailable. Please choose a different combination."};
    /* ]]> */
</script>
<script type='text/javascript' src='https://radiustheme.com/demo/wordpress/themes/ranna/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart-variation.min.js?ver=3.9.2'></script>
<script type='text/javascript' src='https://radiustheme.com/demo/wordpress/themes/ranna/wp-content/plugins/woocommerce/assets/js/zoom/jquery.zoom.min.js?ver=1.7.21'></script>
<script type='text/javascript' src='https://radiustheme.com/demo/wordpress/themes/ranna/wp-content/plugins/woocommerce/assets/js/photoswipe/photoswipe.min.js?ver=4.1.1'></script>
<script type='text/javascript' src='https://radiustheme.com/demo/wordpress/themes/ranna/wp-content/plugins/woocommerce/assets/js/photoswipe/photoswipe-ui-default.min.js?ver=4.1.1'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var wc_single_product_params = {"i18n_required_rating_text":"Please select a rating","review_rating_required":"yes","flexslider":{"rtl":false,"animation":"slide","smoothHeight":true,"directionNav":false,"controlNav":"thumbnails","slideshow":false,"animationSpeed":500,"animationLoop":false,"allowOneSlide":false},"zoom_enabled":"1","zoom_options":[],"photoswipe_enabled":"1","photoswipe_options":{"shareEl":false,"closeOnScroll":false,"history":false,"hideAnimationDuration":0,"showAnimationDuration":0},"flexslider_enabled":""};
    /* ]]> */
</script>
<script type='text/javascript' src='https://radiustheme.com/demo/wordpress/themes/ranna/wp-content/plugins/woocommerce/assets/js/frontend/single-product.min.js?ver=3.9.2'></script>
<script type='text/javascript' src='https://radiustheme.com/demo/wordpress/themes/ranna/wp-content/plugins/elementor/assets/js/frontend-modules.min.js?ver=2.9.3'></script>
<script type='text/javascript' src='https://radiustheme.com/demo/wordpress/themes/ranna/wp-includes/js/jquery/ui/position.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='https://radiustheme.com/demo/wordpress/themes/ranna/wp-content/plugins/elementor/assets/lib/dialog/dialog.min.js?ver=4.7.6'></script>
<script type='text/javascript' src='https://radiustheme.com/demo/wordpress/themes/ranna/wp-content/plugins/elementor/assets/lib/waypoints/waypoints.min.js?ver=4.0.2'></script>
<script type='text/javascript' src='https://radiustheme.com/demo/wordpress/themes/ranna/wp-content/plugins/elementor/assets/lib/swiper/swiper.min.js?ver=5.3.0'></script>
<script type='text/javascript' src='https://radiustheme.com/demo/wordpress/themes/ranna/wp-content/plugins/elementor/assets/lib/share-link/share-link.min.js?ver=2.9.3'></script>
<script type='text/javascript'>
    var elementorFrontendConfig = {"environmentMode":{"edit":false,"wpPreview":false},"i18n":{"shareOnFacebook":"Share on Facebook","shareOnTwitter":"Share on Twitter","pinIt":"Pin it","downloadImage":"Download image"},"is_rtl":false,"breakpoints":{"xs":0,"sm":480,"md":768,"lg":991,"xl":1440,"xxl":1600},"version":"2.9.3","urls":{"assets":"https:\/\/radiustheme.com\/demo\/wordpress\/themes\/ranna\/wp-content\/plugins\/elementor\/assets\/"},"settings":{"page":[],"general":{"elementor_global_image_lightbox":"yes","elementor_lightbox_enable_counter":"yes","elementor_lightbox_enable_fullscreen":"yes","elementor_lightbox_enable_zoom":"yes","elementor_lightbox_enable_share":"yes","elementor_lightbox_title_src":"title","elementor_lightbox_description_src":"description"},"editorPreferences":[]},"post":{"id":41,"title":"Home 2 \u2013 Ranna","excerpt":"","featuredImage":false},"user":{"roles":["subscriber"]}};
</script>
<script type='text/javascript' src='https://radiustheme.com/demo/wordpress/themes/ranna/wp-content/plugins/elementor/assets/js/frontend.min.js?ver=2.9.3'></script>
